.chat {
  flex: 0.7;
  flex-grow: 1;
  margin: 10px;
  display: grid;
  grid-template-rows: 10% auto 10%;
  height: calc(100vh - 80px);
  border: 1px solid lightgray;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--violet);
  color: white;
}

.chat__channelName {
  display: flex;
  text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat__messages {
  overflow-y: scroll;
  padding: 0 10px;
}

.chat__messages::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.chat__messages::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.chat__messages::-webkit-scrollbar-thumb {
  background-color: var(--lightViolet);
  border: 2px solid gray;
}
