.chatInput {
  display: flex;
}

.chatInput > form {
  display: grid;
  width: 100%;
  grid-template-columns: auto 50px;
}

.chatInput > form > input {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.chatInput > form > input:focus,
.chatInput > form > button:focus {
  outline: none;
}

.chatInput > form > button {
  background: transparent;
  border: none;
}

.chatInput > form > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.chatInput > form > button > .MuiSvgIcon-root {
  color: var(--violet);
}
