.error {
  display: grid;
  place-items: center;
  flex: 0.7;
  flex-grow: 1;
}

.error > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error > div > img {
  width: 60%;
  max-width: 500px;
}

.error > div > p {
  margin-top: 20px;
}
