.message {
  display: flex;
  word-break: break-all;
  padding: 5px 0;
  width: 50%;
}

.message__info {
  padding: 10px;
  background-color: #f8f8f8;
}

.message__right {
  margin-left: auto;
  flex-direction: row-reverse;
}

.message__right > .message__info {
  background-color: var(--violet);
  color: #fff;
}

.message > img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  margin: 0 5px;
}

.message__info > p {
  margin-top: 10px;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
  margin-top: 10px;
  text-align: right;
}
