body {
  --violet: #4a154b;
  --lightViolet: #532955;
  --yellow: #ecb22e;
  --blue: #36c5f0;
  --green: #2eb67d;
  --pink: #e01e5a;
  overflow: hidden;
}

.app__body {
  display: flex;
  height: 100vh;
}
